<div class="container">

  <div fxFill id="sort-state">
    {{sortedMsg}}
  </div>

  <div> Total result: {{}}</div>

  <div fxLayout="row wrap" fxLayoutAlign='space-evenly' fxLayoutGap="10px">
    <div *ngFor="let product of showList" fxFlex="0 0 250px">
      <mat-card class="show-card" fxLayout="column" fxLayoutAlign="space-around">
        <mat-spinner *ngIf="!picsOnLoading[product.name]" class='img'></mat-spinner>
        <img (load)="loaded(product.name)" (loadeddata)="loaded(product.name)" [src]="product.image"
             alt="Image for {{product.name}}"
             class='img'>

        <mat-card-subtitle>
          {{product.name}}
        </mat-card-subtitle>

        <div> Price: {{priceFormatter(product.price)}} </div>

        <div class="stars" fxFlex="5" fxLayout="row">
          <mat-icon *ngFor="let number of arrayGen(product.rating)">star</mat-icon>
          <mat-icon *ngFor="let number of arrayGen(5-product.rating)">star_border</mat-icon>
        </div>
        <mat-card-actions>
          {{product.reviewCount}}
        </mat-card-actions>

      </mat-card>

    </div>

    <div fxFlex="0 0 250px" fxLayout="column" fxLayoutAlign="space-around center">
      <button color="primary" mat-raised-button>
        Show more products
      </button>
    </div>


    <div *ngFor="let _ of arrayGen(10)" fxFlex="0 0 250px"></div>
  </div>

</div>

