<div class="container" fxLayout="column" fxLayoutGap="20px">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="1em">
    <span>{{sortedMsg}}</span>
    <span>Total result: {{length}}. </span>
    <span>Showing result from {{startIndex}} to {{startIndex + productsPerPage}}</span>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign.lt-xl="center" fxLayoutGap="10px">
    <button (click)="goToPage(0)" [disabled]="startIndex < productsPerPage"
            mat-raised-button> First Page
    </button>
    <button (click)="previousPage()" [disabled]="startIndex < productsPerPage" fxHide.xs
            mat-raised-button> Previous Page
    </button>
    <button (click)="goToPage(page)" fxHide.xs
            *ngFor="let page of arrayGen(totalPage)"
            [color]="startIndex >= page * productsPerPage &&  startIndex < (page+1) * productsPerPage? 'primary' : ''"
            mat-raised-button> {{page + 1}} </button>
    <button (click)="nextPage()" [disabled]="length - startIndex < productsPerPage" fxHide.xs
            mat-raised-button> Next Page
    </button>
    <button (click)="goToPage(totalPage - 1)" [disabled]="startIndex < productsPerPage"
            mat-raised-button> Last Page
    </button>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign='space-around' fxLayoutGap="10px">

    <div (click)="showDetails(product)" *ngFor="let product of showList" fxFlex="0 0 250px">
      <app-product-card [data]="product"></app-product-card>
    </div>

    <div class="show-card" fxFlex="0 0 250px" fxLayout="column" fxLayoutAlign="space-around center">
      <button (click)="showMore()" *ngIf="!(length - startIndex < productsPerPage)" color="primary" mat-raised-button>
        Show more products
      </button>

      <button *ngIf="length - startIndex < productsPerPage" color="primary" mat-raised-button>
        No more products
      </button>
    </div>


    <div *ngFor="let _ of arrayGen(10)" fxFlex="0 0 250px"></div>
  </div>

</div>

