<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="sortBy$.next({order:'price', ascending: -1})" mat-list-item>Sort by Price(High to Low)</a>
      <a (click)="sortBy$.next({order:'price', ascending:1})" mat-list-item>Sort by Price(Low to high）</a>
      <a (click)="sortBy$.next({order:'review', ascending: -1})" mat-list-item>Sort by Most Review</a>
      <a (click)="sortBy$.next({order:'rating', ascending: -1})" mat-list-item>Sort by Best Rating</a>
    </mat-nav-list>
    <button
      (click)="drawer.toggle()"
      aria-label="Toggle sidenav"
      color="primary"
      mat-button
      style="margin-top:50px"
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      Hide
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button
          (click)="drawer.toggle()"
          aria-label="Toggle sidenav"
          mat-icon-button
          type="button"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>SPB</span>
      </div>
      <div *ngIf="dataReady">
        <app-search-box (results)="onSearch($event)" [data]="originalData$"></app-search-box>
      </div>
    </mat-toolbar>

    <div *ngIf="!dataReady" fxFill fxLayout="column" fxLayoutAlign="center center">
      <span>Loading data from API</span>
      <mat-spinner></mat-spinner>
    </div>
    <app-product-page *ngIf="dataReady" [data]="products$" [sortBy$]="sortBy$"></app-product-page>
  </mat-sidenav-content>
</mat-sidenav-container>


