<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               fxFlex='column'>
    <mat-toolbar fxLayout="row">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="sortBy$.next({order:'price', ascending: -1})" mat-list-item>Sort by Price(High to Low)</a>
      <a (click)="sortBy$.next({order:'price', ascending:1})" mat-list-item>Sort by Price(Low to high）</a>
      <a (click)="sortBy$.next({order:'review', ascending: -1})" mat-list-item>Sort by Most Review</a>
      <a (click)="sortBy$.next({order:'rating', ascending: -1})" mat-list-item>Sort by Best Rating</a>
    </mat-nav-list>
    <button
      (click)="drawer.toggle()"
      aria-label="Toggle sidenav"
      color="primary"
      mat-icon-button
      style="margin-top:50px"
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      Hide Nav Side Bar
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex="0 0 40">SPB</span>
      <div *ngIf="dataReady" fxFlex="0 0 100px" fxFlexOffset="20" fxFlexOffset.xs="10">
        <app-search-box (results)="onSearch($event)" [data]="originalData$"></app-search-box>
      </div>
    </mat-toolbar>

    <app-product-page [data]="products$" [sortBy$]="sortBy$"></app-product-page>


  </mat-sidenav-content>
</mat-sidenav-container>


